<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a routerLink="inicio" routerLinkActive="active" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
          <a routerLink="empleados" routerLinkActive="active" class="nav-link">Empleados</a>
      </li>
      <li class="nav-item">
        <a routerLink="grupos" routerLinkActive="active" class="nav-link">Grupos</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>